.soma_anual_dash{
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
h1.dash_ano{
    text-align: center;
    margin-bottom: 1em;
}
.informacoes_basicas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181C24;
    border: 1px solid transparent;
    border-image: linear-gradient(to right top, #bd31c4, #8e3bb0, #643b97, #413579, #282c59);
    border-image-slice: 1;
}
.icone{
    color: #C040B9;
    width: 40px;
}

.accordion{
    max-width: 80%;
    margin: auto;
}

.accordion-item{
    color: var(--cor6);
    background-color: var(--cor3);
    border: 3px solid var(--cor5);
}

.accordion-button{
    color: var(--cor4);
    background-color: var(--cor2);
}

.accordion-button:not(.collapsed){
    color: var(--cor4);
    background-color: var(--cor2);
}

.accordion-collapse{
    color: var(--cor6);
}

.accordion-body{
    display: flex;
    padding: 0;
}

.card{
    border: none;
    margin: 3px;
}

.list-group-flush{
    color: var(--cor0);
    background-color: var(--cor5);
    border-width: 0 0 1px;
}