:root {
    --cor0: #0A000A;
    --cor1: #510057;
    --cor2: #310F33;
    --cor3: #542D57;
    --cor4: #FFC200;
    --cor5: #9800a3d1;
    --cor6: #EBEBEB;
    }
body {
    color: var(--cor3);
    max-width: none;
    padding: 0px;
    }

.container-fluid {
    padding:0;
    background-color: var(--cor1);
    }

/* Navbar */

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
    background-color: var(--cor2);
    }

.navbar-nav {
    margin: auto;
    }
/* search */
.d-flex {
    justify-content: center;
    }

.form-control {
    width: 25%;
    }

.navbar-brand {
    font-weight: bold;
    margin-left: 20px;
    color: var(--cor4);
    }

a.nav-link{
    color:var(--cor4);
    }

/* botao de adicionar */

.add-div {
    background-color: var(--cor5);
    cursor: pointer;
    display: inline-block;
    color: var(--cor6);
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
    }

.add-div:hover {
    background-color: var(--cor2)
    }

.fas.fa-plus {
    color: var(--cor6);
    margin-right: 10px;
    margin-left: 5px;
    }

/* search */


.search-div {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    }

.fas.fa-search {
    padding-left: 10px;
    margin-top: 10px;
    color: var(--cor6)
    }

/* lista de ordens */
.variavel-div{
    padding: 0;
    }

.variavel-div h1{
    color: var(--cor6);
    }

.variavel-div p{
    color: var(--cor6);
    }

.variavel-list {
    padding-left: 0;
    }

.lista-titulo {
    color: var(--cor6);
    text-decoration: none;
    }

.lista-titulo:hover {
    color: var(--cor5)
    }

.ordem-item {
    color: var(--cor6);
    cursor: pointer;    
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px dashed var(--cor4);
    }

.fas.fa-search {
    cursor: pointer;
    }

.fas.fa-trash, .fas.fa-edit {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
    }

.fas.fa-trash {
    color: #db1e47;
    }

.fas.fa-edit {
    color: #13c43f;
    }

/* Adicionar ordens */
.form-add p {
    display: grid;
    color: var(--cor5);
    }

.form-div h1 {
    color: var(--cor6);
    }

/* Messages */

ul.messages {
    padding: 0;
    }

ul.messages li {
    list-style: none;
    }

/* paginaçao */
.pagination {
    margin-bottom: 20px;
    }

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    }

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
    color: var(--cor6);
    }

/* footer*/
div.container4 {
    height: 10em;
    position: relative;
    background-color: var(--cor0);
    }
    
div.container4 p {
    margin: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }


footer p{    
    color: var(--cor3);
    }

/* login */
.auth-card {
    margin-bottom: 30px;
    }

/* table */
.table  {
    margin-bottom: 0px;
    }

table {
    margin_bottom: 0px;
    }

/* carteira */
.carteira_h1 {
    display: flex;
    justify-content: center;
}
.carteira_h1 h1 {
    text-align: center;
    color: var(--cor4);
}
.carteira_list {
    display: grid;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 0px;
}

.investimento_detalhe {
    width: 50%;
}

.carteira_list a {
    text-decoration: none;
    width: 100vh;
}
.carteira_list li {
    display: flex;
    margin-bottom: 5vh;
    border: solid 0.5em var(--cor2);
    border-radius: 1em;
    padding: 0px 10px 0px 10px
}
.carteira_detalhe {
    width: 50%;
    margin-left:15px;
    margin-right:15px;
}
.carteira_list li:hover {
    background-color: var(--cor5);
}
.carteira_h1 button {
    margin-left: 100%;
    margin-top: 5px;
}

.carteira_investimento {
    display: flex;
    justify-content: center;
}

.carteira_investimento h3 {
    margin: 1vh 5vh 5px 5vh;
}

.carteira_investimento h3 a {
    text-decoration: none;
    color: var(--cor6)
}

.carteira_investimento h3 a:hover {
    color: var(--cor4);
}
.carteira h2 {
    text-align: center;
    }

/* table variavel */

/* renda fixa */
.view_body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 10%;
}

.btn_edit_delete {
    width: 50%;
}

.fixa_descricao {
}
.fixa_tipo {
    margin-left: 3vh;
}
.fixa_valor {
    margin-left: 3vh;
}
/* dashboard */

.informacoes_basicas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181C24;
    border: 1px solid transparent;
    border-image: linear-gradient(to right top, #bd31c4, #8e3bb0, #643b97, #413579, #282c59);
    border-image-slice: 1;
}
.icone{
    color: #C040B9;
    width: 40px;
}
