{% extends 'index.html' %}

{% block title %}Ordens{% endblock %}

{% block content %}
    <<div class="container">
  <h2 class="text-center"><u>Tabela de Investimentos</u></h2><br>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Fechamento</th>
        <th>Variação %</th>
        <th>Variação em BRl</th>
        <th>Inddice Técnico</th>
        <th>Volume</th>
        <th>Volume vs Preço</th>
        <th>Valor de Mercado</th>
        <th>Relação Preço vs Lucro</th>
        <th>EPS 12M</th>
        <th>Funcionários</th>
        <th>Setor</th>
      </tr>
    </thead>
    <tbody>

    {% if acao %}
    {% for a in acao %}
      <tr>
        <td>{{a.nome}}</td>
        <td>{{a.fechamento}}</td>
        <td>{{a.variacao_p}}</td>
        <td>{{a.variacao_em_brl}}</td>
        <td>{{a.indice_tecnico}}</td>
        <td>{{a.volume}}</td>
        <td>{{a.volume_vs_preco}}</td>
        <td>{{a.valor_de_mercado}}</td>
        <td>{{a.relacao_preco_lucro}}</td>
        <td>{{a.eps_12m}}</td>
        <td>{{a.funcionarios}}</td>
        <td>{{a.setor}}</td>
      </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}

