{% extends 'index.html' %}

{% block title %}Lista de ações{% endblock %}

{% block search %}
<form class="d-flex">
    <input class="form-control me-2" type="text" id="search" name="search" placeholder="Digite o ticker para buscar..." value="{{ request.GET.search }}">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
    <div class="container">
      <h2 class="text-center"><u>Tabela de Investimentos</u></h2><br>
      <div class="dados_acao">
      {% for c in cpt %}
          <h2>{{c.nome}}</h2>
          <h3>{{c.tks}} <button type="button" class="btn btn-success btn-sm">Adicionar</button></h3>
      {% endfor %}
      </div>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Data</th>
            <th>Abertura</th>
            <th>Maxima</th>
            <th>Minima</th>
            <th>Fechamento</th>
            <th>Volume</th>
            <th>Dividendos</th>
            <th>Stock Splits</th>
          </tr>
        </thead>
        <tbody>
        {% if acao %}
        {% for a in acao %}

          <tr>
            <td>{{a.date}}</td>
            <td>{{a.open}}</td>
            <td>{{a.high}}</td>
            <td>{{a.low}}</td>
            <td>{{a.close}}</td>
            <td>{{a.volume}}</td>
            <td>{{a.dividends}}</td>
            <td>{{a.stock}}</td>
          </tr>

        {% endfor %}
        {% endif %}
        </tbody>
      </table>
    </div>
{% endblock %}

