{% extends 'index.html' %}

{% block title %}Lista de ações{% endblock %}

{% block search %}
  <form method="GET" id="search-form">
      <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa para buscar..." value="{{ request.GET.search }}">
      <i class="fas fa-search" id="search-btn"></i>
  </form>
{% endblock %}
     <<div class="container">
      <h2 class="text-center"><u>Tabela de Investimentos</u></h2><br>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Data</th>
            <th>Abertura</th>
            <th>Maxima</th>
            <th>Minima</th>
            <th>Fechamento</th>
            <th>Volume</th>
            <th>Dividendos</th>
            <th>Stock</th>
            <th>Splits</th>
          </tr>
        </thead>
        <tbody>

        {% if acao %}
        {% for a in acao %}
          <tr>
            <td>{{a.Date}}</td>
            <td>{{a.Open}}</td>
            <td>{{a.high}}</td>
            <td>{{a.Low}}</td>
            <td>{{a.Close}}</td>
            <td>{{a.Volume}}</td>
            <td>{{a.Dividends}}</td>
            <td>{{a.Stock}}</td>
            <td>{{a.Splits}}</td>
          </tr>
        {% endfor %}
        {% endif %}
        </tbody>
      </table>
    </div>
{% block content %}
   teste

{% endblock %}

