{% extends 'index.html' %}

{% block title %}Carteiras{% endblock %}
{% block search %}
<form class="d-flex">
    <input class="form-control me-2" type="text" id="search" name="search" placeholder="Digite o ticker para buscar..." value="{{ request.GET.search }}">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
<div class="carteira">
    <h2>Minha Carteira de Investimentos</h2>
    <div class="carteira_investimento">
    <div class="renda_fixa">
        <h3><a href="{% url 'fixa_list' %}">Investimentos de renda fixa</a></h3>
    </div>
    <div class="renda_variavel">
        <h3>Investimentos de renda variavel</h3>
    </div>
    </div>
</div>

{% endblock %}