{% extends 'index.html' %}

{% block title %}Pagamentos recebidos{% endblock %}

{% block content %}
<div class="view_body">
    <div class="investimento_detalhe">
        <h1>Detalhes do Pagamento</h1>
        <h3>Descrição</h3>
        <h5>{{entrada.descricao}}</h5>
        <h3>Valor recebido</h3>
        <h5>{{entrada.valor}}</h5>
        <h3>Confirmação de recebimento</h3>
        <h5>{{entrada.faturado}}</h5>
        <h3>Data do recebimento</h3>
        <h5>{{entrada.data_e}}</h5>
    </div>
    <div class="btn_edit_delete">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-left: 5em;">
        <a href="/carteiras/entrada_delete/{{entrada.id}}" onclick="return confirm('Realmente deseja excluir?')"><button type="button" class="btn btn-danger">Deletar</button></a>
        <a href="/carteiras/entrada_edit/{{entrada.id}}"><button type="button" class="btn btn-warning">Editar</button></a>
        <a href="{% url 'entrada_add' %}"><button type="button" class="btn btn-success">Adicionar</button></a>
    </div>
    </div>
</div>
{% endblock %}