{% extends 'index.html' %}

{% block title %}Investimento renda Fixa{% endblock %}

{% block content %}
<div class="view_body">
    <div class="investimento_detalhe">
        <h1>Detalhes do Investimento</h1>
        <h3>Descrição</h3>
        <h5>{{fixa.descricao_tipo}}</h5>
        <h3>Valor investido</h3>
        <h5>{{fixa.valor}}</h5>
        <h3>Tipo de investimento</h3>
        <h5>{{fixa.get_tipo_display}}</h5>
        <h3>Data do investimento</h3>
        <h5>{{fixa.data_e}}</h5>
        <h3>Porcentagem de rendimento</h3>
        <h5>{{fixa.rendimento}}</h5>
        <h3>Frequência de pagamento do rendimento</h3>
        <h5>{{fixa.get_tempo_display}}</h5>
    </div>
    <div class="btn_edit_delete">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-left: 5em;">
        <a href="/carteiras/fixa_delete/{{fixa.id}}" onclick="return confirm('Realmente deseja excluir?')"><button type="button" class="btn btn-danger">Deletar</button></a>
        <a href="/carteiras/fixa_edit/{{fixa.id}}"><button type="button" class="btn btn-warning">Editar</button></a>
        <a href="{% url 'fixa_add' %}"><button type="button" class="btn btn-success">Adicionar</button></a>
    </div>
    </div>
</div>
{% endblock %}