{% extends 'index.html' %}

{% block title %}Ordens{% endblock %}

{% block content %}
<div class="carteira_h1">
<h1>Investimentos em renda variavel</h1>
<a href="{% url 'variavel_add' %}"><button type="button" class="btn btn-outline-success">Adicionar</button></a>
</div>
  <ul class="carteira_list">
        {% for variavel in lista %}
            <a  href="/carteiras/variavel_view/{{variavel.id}}">
            <li>
                <div class="carteira_detalhe">
                <h3>Ativo</h3>
               <h5 class="carteira_detalhe_h5" >{{variavel.acao}}</h5>
                </div>
                <div class="carteira_detalhe">
                <h3>Preço pago</h3>
                <h5 class="carteira_detalhe_h5" >{{variavel.valor}}</h5>
                </div>
                <div class="carteira_detalhe">
                <h3>Quantidade</h3>
                <h5 class="carteira_detalhe_h5">{{variavel.quantidade}}</h5>
                </div>
            </li>
            </a>
        {% endfor %}
  </ul>
{% endblock %}

